@font-face {
    font-family: "HelveticaNeue";
    src: url('./fonts/HelveticaNeue/HelveticaNeue.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeueBlackCond";
    src: url('./fonts/HelveticaNeue/HelveticaNeue BlackCond.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url('./fonts/HelveticaNeue/HelveticaNeue Light.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url('./fonts/HelveticaNeue/HelveticaNeue Medium.ttf');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: "HelveticaNeueThin";
    src: url('./fonts/HelveticaNeue/HelveticaNeue Thin.ttf');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: "HelveticaNeueBd";
    src: url('./fonts/HelveticaNeue/HelveticaNeueBd.ttf');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: "HelveticaNeueHv";
    src: url('./fonts/HelveticaNeue/HelveticaNeueHv.ttf');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: "HelveticaNeueIt";
    src: url('./fonts/HelveticaNeue/HelveticaNeueIt.ttf');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: "HelveticaNeueLt";
    src: url('./fonts/HelveticaNeue/HelveticaNeueLt.ttf');
    font-style: normal;
    font-weight: normal;
} 

@font-face {
    font-family: "HelveticaNeueMed";
    src: url('./fonts/HelveticaNeue/HelveticaNeueMed.ttf');
    font-style: normal;
    font-weight: normal;
} 







